body{
    background-image: url("../images/dark_wood.png");
}
h1{
    font-family: 'Ewert', cursive;
    float: left;
    font-size: 50px;
    color: white;
    margin:2% auto 5% auto;
    text-align: center;
    
}
.clearfix {
    overflow: auto;
  }
p{
    color:white;
    float: none;
    font-size: 20px;
}
.instructions{
    float:right;
    width:40%;
    margin-top:5px;
    margin-right: 3%;
    padding: 1px;
    border: grey groove 5px;
}
.board{
    width:50%;
    margin-left:3%;
    margin-top:5px;
    padding: 1px;
    border: grey groove 5px;
}
.gameSpace{
    font-family: 'Ewert', cursive;
    font-size: 50px;
    float: left;
    margin:5%;
}
#hangman{
    float: left;
    margin:3px;
}
